.task-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-gap: 20px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
  border: 2px solid rgb(218 111 20);
  border-radius: 5px;
  align-items: center;
}

.card-completed {
  font-size: 22px;
}

.card-description {
  font-size: 18px;
}

.complete-btn {
  background-color: rgb(237, 227, 227);
  width: 60px;
  border-radius: 3px;
  box-shadow: none;
}